<div class="sidebar">
    <nav class="mt-2">
        <!-- Sidebar Menu -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{{path('app_backend_default')}}" class="nav-link active">
                    <i class="nav-icon fas fa-desktop"></i>
                    <p class="text">Dashboard</p>
                </a>
            </li>
            <li class="nav-item menu-open">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon fas fa-key"></i>
                    <p>
                        Seguridad
                        <i class="end fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{path('app_backend_user_index')}}" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index2.html" class="nav-link ">
                            <i class="nav-icon fas fa-people-group"></i>
                            <p>Grupos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index3.html" class="nav-link ">
                            <i class="nav-icon fas fa-table-list"></i>
                            <p>Roles</p>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-header">MULTI LEVEL EXAMPLE</li>
            
            <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Level 1
                        <i class="end fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>Level 2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            <i class="nav-icon far fa-circle"></i>
                            <p>
                                Level 2
                                <i class="end fas fa-angle-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link">
                                    <i class="nav-icon far fa-dot-circle"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link">
                                    <i class="nav-icon far fa-dot-circle"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link">
                                    <i class="nav-icon far fa-dot-circle"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>Level 1</p>
                </a>
            </li>
            
        </ul>
    </nav>
</div>