{% extends 'base.html.twig' %}

{% block title %}Prueba{% endblock %}

{% block body %}
    <h1>OTRA COSA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prueba.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ prueba.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prueba_index') }}">back to list</a>

    <a href="{{ path('app_prueba_edit', {'id': prueba.id}) }}">edit</a>

    {{ include('prueba/_delete_form.html.twig') }}
{% endblock %}
