<!DOCTYPE html>
<html>

<head>
  {% block head %}{% endblock %}
  {% block stylesheets %}
  {# {{ encore_entry_link_tags('app') }} #}
  {% endblock %}


</head>

<body class="layout-fixed">
  {% block body %}{% endblock %}
  {% block javascripts %}

  {# {{ encore_entry_script_tags('app') }} #}
  {% endblock %}

</body>

</html>